.padd10{
    padding: 10px;
}

.text-center{
    text-align: center;
}

.h2, h2{
    font-size: 1.45rem;
}

.h3, h3{
    font-size: 1.2rem;
}

.h4, h4{
    font-size: 1.05rem;
}

.hidden{
    display: none;
}

.page-content{
    background: rgba(24,140,158,1);
    background: -moz-linear-gradient(top, rgba(24,140,158,1) 0%, rgba(43,16,54,1) 59%, rgba(43,16,54,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,140,158,1)), color-stop(59%, rgba(43,16,54,1)), color-stop(100%, rgba(43,16,54,1)));
    background: -webkit-linear-gradient(top, rgba(24,140,158,1) 0%, rgba(43,16,54,1) 59%, rgba(43,16,54,1) 100%);
    background: -o-linear-gradient(top, rgba(24,140,158,1) 0%, rgba(43,16,54,1) 59%, rgba(43,16,54,1) 100%);
    background: -ms-linear-gradient(top, rgba(24,140,158,1) 0%, rgba(43,16,54,1) 59%, rgba(43,16,54,1) 100%);
    background: linear-gradient(to bottom, rgba(24,140,158,1) 0%, rgba(43,16,54,1) 59%, rgba(43,16,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#188c9e', endColorstr='#2b1036', GradientType=0 );
}