<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.ihumoruangelotsarouchas.app" version="1.0.0">
  <name>IHU - ANGELO TSAROUCHAS</name>
  <description>Angelo Tsarouchas - App</description>
  <author href="http://www.intellicomstudios.net" email="info@intellicomstudios.net">Robin Ozolins</author>
  <content src="index.html" />
    <access origin="http://192.254.161.118/~ihumoru/php/ajaxDispatcher1.php" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
  
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="orienation" value="portrait" />
    <preference name="permissions" value="none" />
    <preference name="target-device" value="handset" />
    <preference name="deployment-target" value="8.0" />
    <preference name="DisallowOverscroll" value="true"/>
    
    <plugin name="phonegap-plugin-push" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-android-permissions" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <!-- White list https access to Youtube -->
    <allow-navigation href="*://*youtube.com/*"/>
    
    <plugin name="cordova-plugin-calendar" source="npm" spec="4.6.0">
        <variable name="CALENDAR_USAGE_DESCRIPTION" value="This app uses your calendar" />
    </plugin>
    
    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-7.0.1" />
</widget>