<div data-name="bio" class="page page-inner">
    <!-- Top Navbar -->
    <div class="navbar navbar-transparent bg-green-transparent">
          <div class="navbar-inner paddLeftRight20">
                <div class="left">
                <a href="#" class="link back">
                    <div class="image-holder">
                        <div class="mAOLThumb"><div class="bg-image" style="background-image: url({{imgsrc}});"></div></div>
                    </div>
                </a>  
                {{firstname}} {{lastname}}
                </div>
                <div class="right">
                    <a href="#" class="link back relative"><img src="images/bio_APP_icon.png" alt="" /></a>
                </div>
          </div>
    </div>    <!-- Scrollable page content -->
    <div class="page-content">
        <div id="homeComedianBlock" class="wrapHomeComedianBlock abs fullwidth padd10 text-align-center">
            <div class="display-inline-block image-holder"><div class="mAOLThumb fullwidth"><div class="bg-image" style="background-image: url({{imgsrc}});"></div></div></div>
            <div class="paddTopBottom20">
                <div class="text-white text-align-center h2">{{firstname}} {{lastname}}</div>
                <div class="padd20 text-white text-align-left size-18">{{description}}</div>
            </div>
        </div>
    </div>
</div>