<div data-name="news" class="page page-inner">
    <!-- Top Navbar -->
    <div class="navbar navbar-transparent bg-green-transparent">
          <div class="navbar-inner paddLeftRight20">
                <div class="left">
                <a href="#" class="link back">
                    <div class="image-holder">
                        <div class="mAOLThumb"><div class="bg-image" style="background-image: url({{imgsrc}});"></div></div>
                    </div>
                </a>  
                {{firstname}} {{lastname}}
                </div>
                <div class="right">
                    <a href="#" class="link back relative"><img src="images/news_APP_icon.png" alt="" /></a>
                </div>
          </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div id="wrapNews" class="wrapNews fullheight">
            <div data-target="ifrecords"></div>
            <div data-target="ifnorecords" class="abs top50 fullwidth text-align-center text-white">
                <div class="paddTopBottom20">
                    <img src="images/news_APP_icon_lg.png" alt="" />
                </div>
                <div class="h2">
                    {{firstname}} has not<br />
                    posted any news?
                </div>
                <div class="padd10"></div>
                <div><a href="" class="btn btn-green external">+ Suggest News</a></div>
                <div class="padd20"></div>
                <div><span class="text-white-transparent strong"><u>get notified</u></span> <span class="text-white-transparent">next time {{firstname}}<br />
    adds a news article.</span></div>
            </div>
        </div>
    </div>
</div>