<div data-name="questions" class="page page-inner">
    <!-- Top Navbar -->
    <div class="navbar navbar-transparent bg-green-transparent">
          <div class="navbar-inner paddLeftRight20">
                <div class="left">
                <a href="#" class="link back">
                    <div class="image-holder">
                        <div class="mAOLThumb"><div class="bg-image" style="background-image: url({{imgsrc}});"></div></div>
                    </div>
                </a>  
                {{firstname}} {{lastname}}
                </div>
                <div class="right">
                    <a href="#" class="link back relative"><img src="images/ask_APP_icon.png" alt="" /></a>
                </div>
          </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="wrapTitleHeader text-align-center text-white h4">
            Questions
        </div>
    </div>
</div>