<div data-name="usetting" class="page page-inner">
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="wrapTitleHeader text-align-center text-white h4">
            <div>
                <i class="far fa-bell fa-5x"></i>
            </div>
            <div class="padd10"></div>
            <div>Use the settings below to<br />
    setup APP notifications.</div>
        </div>
        <div id="wrapSettings" class="wrapSettings">
            <div class="single-item text-white h4"><div class="display-flex"><div class="align-self-center paddLeftRight20">Videos</div></div></div>
            <div class="single-item text-white h4"><div class="display-flex"><div class="align-self-center paddLeftRight20">News</div></div></div>
            <div class="single-item text-white h4"><div class="display-flex"><div class="align-self-center paddLeftRight20">Questions</div></div></div>
            <div class="single-item text-white h4"><div class="display-flex"><div class="align-self-center paddLeftRight20">Events</div></div></div>
        </div>
    </div>
</div>