<div data-name="eventdetails" class="page page-inner" data-id="{{id}}">
    <!-- Top Navbar -->
    <div class="navbar navbar-transparent bg-green-transparent">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </div>
            <div class="display-inline-block text-align-center fullwidth">{{firstname}} {{lastname}}</div>
            <div class="right">
                <a href="#" class="link back relative"><img src="images/video_APP_icon.png" alt="" /></a>
            </div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div id="wrapVideos" class="wrapVideos fullheight">
            <div class="h4 text-green1 paddLeftRight20 paddTopBottom10">{{videotitle}}</div>
            <div class="wrapVideoPlayer wrapVideoInline">
                <a href="#" class="abs top0 left0 fullwidth fullheight" data-action="addedititem" data-context="playVideo" data-videohref="{{videoitem}}?autoplay=1">
                    <div class="abs top50 text-center fullwidth">
                        <div class="fa-4x text-white"><i class="far fa-play-circle"></i></div>
                    </div>
                </a>
                <img class="fullwidth" src="{{img}}" alt="Watch Video!" />
                <iframe src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="wrapVideoDetails">
                <div class="display-flex">
                    <div class="padd20">
                        <div class="h4 text-green1 paddTopBottom5">Video Statistics</div>
                        <div id="wrapVideoStatistic" class="wrapVideoStatistic">
                            <div class="display-flex justify-content-space-between">
                                <div class="text-white text-align-center">
                                    <div>
                                        <i class="fas fa-play"></i>
                                    </div>
                                    <div class="paddTopBottom10">{{views}}</div>
                                </div>
                                <div class="text-green1 text-align-center">
                                    <div>
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <div class="paddTopBottom10">{{videolikes}}</div>
                                </div>
                                <div class="text-olive text-align-center">
                                    <div>
                                        <i class="fas fa-comment"></i>
                                    </div>
                                    <div class="paddTopBottom10">{{videocomments}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right padd20">
                        <div class="h4 text-green1">Share it</div>
                        <div class="grid1 size-22 text-align-center paddTopBottom5">
                            <a href="" class="btn btn-facebook"><span class="abs top50 fullwidth"><i class="fab fa-facebook-f"></i></span></a>
                            <a href="" class="btn btn-twitter"><span class="abs top50 fullwidth"><i class="fab fa-twitter"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>